.gradle
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
bin
gen
.idea
*.iml
app/app.iml
app/src/androidTest/java/com/matsyuk/autoloadingrecyclerviewsample/ApplicationTest.java
app/src/test/java/com/matsyuk/autoloadingrecyclerviewsample/ExampleUnitTest.java
